.navItem{
    border-radius: 30px!important;
    border: none!important;
    color: black!important;
    padding: 10px 20px;
    text-decoration: none;
    background-color: white!important;
    font-family: SpaceMono, serif;
    font-size: 25px!important;
    text-align: center;
    transition-duration: 0.7s!important;
}
.navItem:hover{
    background-color: #FF7D25!important;
    color: white!important;
    box-shadow: 0 0 0 3px white;
    transition-duration: 0.5s!important;
}
.next{
    margin-left: 1rem;
}
.prev{
    margin-right: 1rem;
}